# 빌드 결과물 무시
Binaries/
Intermediate/
Saved/
DerivedDataCache/

# 플랫폼별 임시 파일
.vs/
*.VC.db
*.opensdf
*.sdf

# 기타
*.log
*.tmp
*.user
*.suo
*.DS_Store
Thumbs.db

# InfinityBladeWeapons 애셋
ActionRPG/Content/InfinityBladeWeapons
# ParagonGreyStone 애셋
ActionRPG/Content/ParagonGreystone

# ThirdPerson 기본 애셋
ActionRPG/Content/StarterContent
ActionRPG/Content/ThirdPerson